@model KargoTakip.WebUI.Models.AdresDto

@{
    ViewData["Title"] = "Details";
    Layout = "AdminLayout";
}
<h1>Details</h1>

<div>
    <h4>Adres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostaKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostaKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sehir.SehirAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilce.IlceAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkleyenPersonelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkleyenPersonelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuncelleyenPersonelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuncelleyenPersonelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuncellenmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuncellenmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SilindiMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SilindiMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AktifMi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
