@model KargoTakip.WebUI.Models.KargoDto

@{
	ViewData["Title"] = "SearchResult";
	Layout = "~/Areas/User/Views/Shared/UserLayout.cshtml";
}

<h1>SearchResult</h1>

<p>

    <div>
        <h4>Kargo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TakipNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TakipNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OdemeTuru)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OdemeTuru)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TahminiTeslimTarihi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TahminiTeslimTarihi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TeslimTarihi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TeslimTarihi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Durum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Durum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TeslimAlanPersonel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TeslimAlanPersonel.Adi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TeslimEdenPersonel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TeslimEdenPersonel.Adi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ucret)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ucret.Buyukluk)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AliciMusteri)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AliciMusteri.Adi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AliciSube)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AliciSube.SubeAdi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GonderenMusteri)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GonderenMusteri.Adi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GonderenSube)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GonderenSube.SubeAdi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EklenmeTarihi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EklenmeTarihi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GuncellenmeTarihi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GuncellenmeTarihi)
            </dd>
        </dl>
    </div>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TakipNo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AliciSube)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KargoDetaylari)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EklenmeTarihi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.GuncellenmeTarihi)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.KargoDetaylari)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Kargo.TakipNo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Sube.SubeAdi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IslemTuru)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EklenmeTarihi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GuncellenmeTarihi)
				</td>
			</tr>
		}
	</tbody>
</table>
